<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.acm.steidinger.calendar.localePlugin"
      android:versionCode="9"
      android:versionName="0.5.1">
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-sdk android:minSdkVersion="3" />

    <application android:label="@string/app_name" android:debuggable="false" android:icon="@drawable/calendar">
        <activity android:name="com.twofortyfouram.locale.MarketActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
<!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
-->
        </activity>
        <activity
                android:name=".EditConditionActivity"
                android:label="@string/setting_name"
                android:icon="@drawable/calendar"
                android:exported="true" >
<!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
-->
                <intent-filter>
                    <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
                </intent-filter>
          </activity>
          <!-- Listen for the "query" action-->
          <receiver android:name=".QueryConditionReceiver" >
              <intent-filter>
                  <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
              </intent-filter>
          </receiver>
    </application>
</manifest> 
